<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@ad.picture_url, :width => 600) if @ad.picture.present? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @ad.contact %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
